climate_package:
    automation:
      - alias: Оповестить в телеграм о включении обогревателя в душевой
        trigger:
          - platform: state
            entity_id: switch.0x00124b0024c33795
            to: 'on'
        action:
          - service: notify.telegram_family
            data:
              message: Обогреватель в душевой включен 

      - alias: Включить утром теплый пол
        trigger:
            platform: time
            at: "06:00:00"
        condition:
          condition: state
          entity_id: input_boolean.alarm_system
          state: 'off'
        action:
          - service: climate.turn_on
            entity_id: climate.lytko_083a8d42f578_thermostat
          # - service: cover.set_cover_position
          #   target:
          #     entity_id: cover.drivent_875
          #   data:
          #     position: 10

      - alias: Выключить утром теплый пол
        trigger:
            platform: time
            at: "07:00:00"
        action:
          service: climate.turn_off
          entity_id: climate.lytko_083a8d42f578_thermostat
