homeassistant: true
permit_join: true

mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://localhost'
serial:
  port: /dev/ttyUSB0                                                                                                    
advanced:
  rtscts: false
  pan_id: 0x1a63
