**/__pycache__/*

/duckdns/.env

/certbot/letsencrypt/*

/homeassistant/config/secrets.yaml
/homeassistant/config/html5_push_registrations.conf
/homeassistant/config/known_devices.yaml
/homeassistant/config/home-assistant_v2*
/homeassistant/config/home-assistant.log
/homeassistant/config/.storage/*
/homeassistant/config/.HA_VERSION
/homeassistant/config/.uuid
/homeassistant/config/core

/zigbee2mqtt/data/*
!/zigbee2mqtt/data/configuration.yaml.sample
